<div class="container">
	<div class="jumbotron">
		<h1 align="center" class="text-primary">Welcome To KAREGAR</h1>
	</div>
	<div>
		<h1 align="center">What are you looking for?</h1>
	</div><br>
	<div class="center">
		<div class="row">
			<div class="col-md-6">
				<div class="well">
					<h2 align="center"><%= link_to "Need Worker", categories_path %></h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well">
					<h2 align="center"><%=link_to "Find Work", new_worker_path %></h2>
				</div>
			</div>
		</div>
	</div>
</div>